DISCORD_TOKEN=YOUR_BOT_TOKEN
CLIENT_ID=YOUR_APPLICATION_ID
GUILD_ID=YOUR_SERVER_ID
STEAM_API_KEY=YOUR_STEAM_WEB_API_KEY

CDA_AVATAR_URL=
KF2_RECONNECT_DELAY_MS=30000
KF2_CONNECT_TIMEOUT_MS=5000
KF2_REQUEST_TIMEOUT_MS=60000
KF2_KICK_VOTE_DISCORD_CHANNEL_ID=YOUR_KICK_VOTE_CHANNEL_ID
KF2_PAUSE_SKIP_VOTE_DISCORD_CHANNEL_ID=YOUR_PAUSE_SKIP_VOTE_CHANNEL_ID
KF2_VOTE_TIMEOUT_MS=30000
KF2_CONSOLE_LOGS_ENABLED=false
SPECIAL_ACCESS_ROLE_IDS=ROLE_ID_1,ROLE_ID_2

KF2_SERVER_1_ENABLED=true
KF2_SERVER_1_NAME=Normal
KF2_SERVER_1_DIFFICULTY=normal
KF2_SERVER_1_HOST=127.0.0.1
KF2_SERVER_1_PORT=2424
KF2_SERVER_1_DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID
KF2_SERVER_1_KICK_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_1_PAUSE_SKIP_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_1_WEBHOOK_URL=
KF2_SERVER_1_FORWARD_KF2_TO_DISCORD=true
KF2_SERVER_1_FORWARD_DISCORD_TO_KF2=true
KF2_SERVER_1_COMMANDS_ENABLED=true

KF2_SERVER_2_ENABLED=false
KF2_SERVER_2_NAME=Hard
KF2_SERVER_2_DIFFICULTY=hard
KF2_SERVER_2_HOST=127.0.0.1
KF2_SERVER_2_PORT=2425
KF2_SERVER_2_DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID
KF2_SERVER_2_KICK_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_2_PAUSE_SKIP_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_2_WEBHOOK_URL=
KF2_SERVER_2_FORWARD_KF2_TO_DISCORD=true
KF2_SERVER_2_FORWARD_DISCORD_TO_KF2=true
KF2_SERVER_2_COMMANDS_ENABLED=true

KF2_SERVER_3_ENABLED=false
KF2_SERVER_3_NAME=Suicidal
KF2_SERVER_3_DIFFICULTY=suicidal
KF2_SERVER_3_HOST=127.0.0.1
KF2_SERVER_3_PORT=2426
KF2_SERVER_3_DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID
KF2_SERVER_3_KICK_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_3_PAUSE_SKIP_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_3_WEBHOOK_URL=
KF2_SERVER_3_FORWARD_KF2_TO_DISCORD=true
KF2_SERVER_3_FORWARD_DISCORD_TO_KF2=true
KF2_SERVER_3_COMMANDS_ENABLED=true

KF2_SERVER_4_ENABLED=false
KF2_SERVER_4_NAME=HoE
KF2_SERVER_4_DIFFICULTY=hoe
KF2_SERVER_4_HOST=127.0.0.1
KF2_SERVER_4_PORT=2427
KF2_SERVER_4_DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID
KF2_SERVER_4_KICK_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_4_PAUSE_SKIP_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_4_WEBHOOK_URL=
KF2_SERVER_4_FORWARD_KF2_TO_DISCORD=true
KF2_SERVER_4_FORWARD_DISCORD_TO_KF2=true
KF2_SERVER_4_COMMANDS_ENABLED=true

KF2_SERVER_5_ENABLED=false
KF2_SERVER_5_NAME=Extreme
KF2_SERVER_5_DIFFICULTY=extreme
KF2_SERVER_5_HOST=127.0.0.1
KF2_SERVER_5_PORT=2428
KF2_SERVER_5_DISCORD_CHANNEL_ID=YOUR_CHANNEL_ID
KF2_SERVER_5_KICK_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_5_PAUSE_SKIP_VOTE_DISCORD_CHANNEL_ID=
KF2_SERVER_5_WEBHOOK_URL=
KF2_SERVER_5_FORWARD_KF2_TO_DISCORD=true
KF2_SERVER_5_FORWARD_DISCORD_TO_KF2=true
KF2_SERVER_5_COMMANDS_ENABLED=true
